<section id="front">
  <div>
    <p>36,000 humans have lost their lives in transit whilst trying to seek asylum in Europe. <br> In Refugee Week
      2019
      we have launched a year-long project to honour and remember them.
    </p>
    <p>We are inviting YOU to write, make, craft or speak out their memories to raise awareness of the need for safe
      passage, so that Europe can truly be the place of refuge that these mothers, fathers, friends and children
      need.
    </p>
    <p>
      Join with us in honouring these 36000 Humans, with your help we can make a difference for many more.
    </p>
  </div>
  <div>
    <button>
      <a href="request-form.html">Get started - request a list</a>
    </button>
  </div>
  <section class="video">
    <div>
      <img id="ratio" src="https://placehold.it/16x9" alt="" />
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dAi5zFjg3TI" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
  <div>
    <p>
      Looking for inspiration to get started? Visit the 'make' page
    </p>
  </div>
  <div>
    <button>
      <a href="#">Inspiration</a>
    </button>
  </div>
</section>
<hr>
<section id="info">
  <div>
    <p>
      The list of deaths is compiled and maintained by <a href="https://unitedagainstrefugeedeaths.eu/">UNITED for
        Intercultural Action</a> as part of their campaign 'Fortress
      Europe: No More Deaths'.<br><br>For enquiries about the list, please email <a
        href="mailto:listofdeaths@unitedagainstracism.org">listofdeaths@unitedagainstracism.org.</a> <br><br>To see all
      36000 people, <a
        href="https://unitedagainstrefugeedeaths.eu/wp-content/uploads/2014/06/ListofDeathsActual.pdf">follow this link
        to the full PDF list.</a>
    </p>
    <div>
      <img src="/assets/logo/united.png" alt="">
    </div>
  </div>
  <div>
    <p>
      <a href="https://actionforrefugees.org/">Action For Refugees</a> is a budding network of local groups based in
      Birmingham UK who welcome refugees and newly
      arrived families. We fundraise for our partners <a href="https://asnteamuk.org/">Aegean Solidarity Network</a> in
      Greece and raise awareness of issues
      facing refugees.</br></br>To find more about us, visit <a
        href="https://actionforrefugees.org/">actionforrefugees.org</a> or follow us on social media.
      <br><br><a href="https://www.facebook.com/BearwoodAction/">Facebook</a> | <a
        href="https://www.instagram.com/BearwoodActionforrefugees/">Instagram</a> | <a
        href="https://twitter.com/bearwoodaction">Twitter</a>
    </p>
    <div>
      <img src="/assets/logo/AFR-logo-black.png" alt="">
    </div>
  </div>
</section>
