<section id="making">
  <div>
    <p>
      We've collected together a few different creative responses to value and remember with dignity the people who have
      lost their lives seeking refuge in Europe.
    </p>
    <p>
      We want you to be a part of this story. Share what you make on social media with the hashtags #36000Humans and
      #SafePassage to inspire others with your creations. Together, we can raise our voices in the name of Safe
      Passage for everyone seeking sanctuary in the future.
    </p>
  </div>
  <hr>
  <section id="examples">
    <div>
      <div>
        <h1>
          Nametags
        </h1>
        <img src="/assets/images/name-tag.jpg" alt="painted nametag">
      </div>
      <div>
        <p>
          We remember that every person that died trying to seek a life here has a name and a story that has been
          tragically cut short.
        </p>
      </div>
    </div>
    <div>
      <h1>
        Hands
      </h1>
      <img src="/assets/images/hand.jpg" alt="painted hand made from card">
    </div>
    <div>
      <p>
        For many of the people on the list, we don't even know their names. But we do know that they lived and had
        hopes for the future.
      </p>
    </div>
    </div>
    <div>
      <div>
        <h1>
          Ribbon
        </h1>
        <img src="/assets/images/ribbon.jpg" alt="">
      </div>
      <div>
        <p>
          There is something personal about writing a name into fabric. Like a label in a child's school jumper.
        </p>
      </div>
    </div>
  </section>
</section>
<section class="video">
  <div>
    <h1>
      Speak
    </h1>
  </div>
  <div>
    <img id="ratio" src="https://placehold.it/16x9" alt="" />
    <iframe width="340" height="190" src="https://www.youtube-nocookie.com/embed/zr1lOo34y7k" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <p>
      No name. Who were you..? Imagine, write and speak the story and experience of people who no longer can.
    </p>
  </div>
</section>
