html, body {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  margin: 0;
  position: relative;
  font-family: "Bitter", serif;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

footer p {
  font-size: 0.7em;
  font-family: "Montserrat", sans-serif;
  max-width: 50em;
}

p {
  line-height: 1.4em;
  font-size: small;
}

hr {
  color: rgba(0, 0, 0, 0.5);
  max-width: 50em;
}

nav:target {
  display: flex;
  position: fixed;
  background-color: rgb(79, 163, 201);
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  z-index: 1;
}

nav:target>a:last-child>div {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
}

nav>a:first-child {
  display: none;
}

nav:target>a:first-child {
  display: initial;
}

header {
  background-color: rgb(79, 163, 201);
  display: flex;
  justify-content: space-between;
}

header>div:nth-child(2) {
  display: flex;
  padding: 1em 1em;
}

header>div:first-child {
  display: none;
}

header>div>img {
  max-width: 100%;
  height: 4em;
}

header>div>h2 {
  max-width: 100%;
  height: 2em;
  margin: 0;
  padding: 1em 0.5em 0em;
}

section {
  max-width: 50em;
  min-width: 360px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-flow: column nowrap;
}

@media (max-width: 775px) {
  header>nav {
    display: none;
  }
  header>div:first-child {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  header {
    justify-content: center;
  }
  header>div>img {
    max-width: 100%;
    height: 2em;
  }
  header>div>h2 {
    max-width: 100%;
    height: 2em;
    margin: 0;
    padding: 0em 1em;
  }
  section {
    max-width: 100%;
  }

  img {
    max-width: 90%;
    margin: 0 auto;
  }
}

.menu ul {
  list-style-type: none;
  padding: 2em 2em;
  font-size: small;
}

.menu-links {
  display: inline-block;
  padding: 0em 0.5em;
}

.menu-links>a {
  text-decoration: none;
}

.menu-links>a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
}

main>section {
  text-align: center;
}

footer {
  width: 100%;
  background-color: rgb(79, 163, 201);
  text-align: left;
}

footer#bottom {
  max-width: 50em;
  min-width: 360px;
  margin: 0 auto;
  padding: 1em 0;
  /* font-size: smaller; */
}

#gif {
  width: 100%;
  height: 50%;
}

button {
  border-radius: 5px;
  background-color: rgb(79, 163, 201);
  padding: 0.5em 1em;
  font-family: "Bitter", sans-serif;
}

button>a {
  text-decoration: none;
}

button:hover {
  filter: drop-shadow(4px 2px 2px #979797);
}

section#front {
  width: 100%;
}

section.video {
  width: 100%;
  height: 100%;
}

section.video>div {
  display: flex;
  justify-content: center;
  position: relative;
}

section.video>div>iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

section.video>div>img {
  width: 100%;
  height: auto;
}

section#info>div {
  max-width: 70em;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  justify-content: center;
}

section#info>div>p {
  /* flex: 3 2 40em; */
  /* flex: 1 1 20em; */
  flex-basis: 30em;
  flex-grow: 1;
}

section#info>div>div>img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}

section#iframe-form {
  width: 100%;
  height: 100%;
}

section#iframe-form>div {
  height: 100%;
  display: flex;
  justify-content: center;
}
